* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
--dark-blue: #09364d;
--white: whitesmoke;
--main-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: var(--white)
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 6% 15px 0;
    font-family: var(--main-font);
    background-color: var(--dark-blue)
}

header h1{
    display: flex;
    font-size: 50px; 
    color:var(--white)
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
   margin-right: 10px;
   padding: 5px 10px;
   background-size: 100% .2em;
   background-position: bottom;
   background-repeat: no-repeat;
   transition: all .25s ease-in;
   color:var(--white)
}

nav a:last-child {
    margin-right: 0;
}

figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.main-sections h2 {
    display: flex;
    flex-direction: column;
    padding: 30px 0px 30px 100px;
    font-family:var(--main-font);
    color: var(--dark-blue);
    font-style: inherit;
    font-size: 1.5em;
    font-weight: 900;
    text-decoration: underline;           
}

#about-me p {
   display: flex;
   justify-content: flex-end;
   align-content: center;
   padding-left: 170px;
   padding-right: 20px;
   color: var(--dark-blue);
   font-weight: 400;

}
 .main-project {
flex: 1;
background-color: var(--white);
padding: 20px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.main-project img {
height: 400px;
width: 400px;
}

.secondary-projects {
flex: 3;
background-color: var(--white);
padding: 20px;
display:flex;
flex-wrap: wrap;
justify-content: center;
}

.secondary-projects img {
    height: 200px;
    width: 200px;
    }


#contact-me ul {
    list-style-type: none;
  
}

#contact-me li {
    display: flex;
    display: inline-block;
    justify-content: center;
    padding-left: 250px;
    color: var(--dark-blue);
    font-weight: 400;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: var(--main-font);
    background-color: var(--dark-blue);
    color: var(--white)
}


@media screen and (max-width: 768px) {
    
}
